.block1 {
  width: 100%;
  height: 820px;
  background-color: rgb(22, 22, 22);
}
.block1 .content {
  position: absolute;
  left: calc(50% - 630px);
  top: 150px;
  width: 1260px;
  height: 510px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block1 .content .foranimation {
  width: 610px;
  height: 510px;
  background-image: url("./image/Animation Video.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.block1 .content .fortext {
  width: 534px;
  height: 340px;
  color: white;
}
.block1 .content .fortext h1 {
  width: 340px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 51px;
  line-height: 58px;
  margin-bottom: 25px;
}
.block1 .content .fortext p {
  height: 112px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 39px;
}
.block1 .content .fortext .buttons {
  width: 350px;
  height: 45px;
  display: flex;
  justify-content: space-between;
}
.block1 .content .fortext .buttons a {
  text-decoration: none;
  color: black;
  text-align: center;
  line-height: 45px;
}
.block1 .content .fortext .buttons .disc {
  height: 100%;
  width: 160px;
  border-radius: 5px;
  background-color: #5865F2;
  background-image: url("./image/Group.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 116px 23px;
}
.block1 .content .fortext .buttons .conect {
  height: 100%;
  width: 175px;
  border-radius: 5px;
  background-color: #55FDDF;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
}